html, body {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  
}

.template {
    background: #b4d1e5;
    background: -webkit-linear-gradient(90deg, #b4d1e5, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #b4d1e5, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #b4d1e5, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #b4d1e5, #fff); /* Standard syntax (must be last) */
}
    .template .inside{
        margin: 5% auto;
        width: 1000px;
    }

        .template .inside .content {
            background: #fff;
            border-radius: 15px !important;
            -webkit-box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15) !important;
            -moz-box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15) !important;
            height:600px;
            padding-top: .3%;
        }

            .template .inside .content .nearInput {
                /* text-align: center; */
                /* position: relative; */
                /* margin: 60px auto; */
                height: 70px;
                float: left;
                width: 50%;
            }

            .template .inside .content .nearRightInput {
                /* text-align: center; */
                /* position: relative; */
                /* margin: 60px auto; */
                height: 70px;
                float: right;
                width: 50%;
            }

            .template .inside .content .subTitle{

              margin-left:2%;

            }

            .template .inside .content .nearButton {
                /* padding-left: 1970px; */
                /* text-align: center; */
                 height: 70px;
                /* position: relative; */
                /* bottom: 60px; */
                /* font-size: 8px; */
                float: right;
                width: 50%;
            }

            .template .inside .content .nearResult{
                height:70px;
                width:100%;
            }

button {
    background-color: #4CAF50;
    border: 0.1em solid #4CAF50;
    border-radius: 10px;
    color: white;
    height: 51px;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Bree Serif', serif;;
    /* margin: 4px 2px; */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* cursor: pointer; */
    /* right: 6px; */
    /* bottom: 10px; */
    width: 70%;
    margin:2%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#title {
    /* position: absolute; */
    /* top: 100px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    margin: 5%;
    height: 30px;
    /* text-align: center; */
    font-family: 'Bangers', cursive;
    font-size: 50px;
    font-style: normal;
    color: #2952a3;
    text-shadow: 1px 1px 4px #2952a3;
}
.row {
    margin-left: 2%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;


}

.side a:hover{
    color: #f1f1f1;
}

.side .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .side {padding-top: 15px;}
  .side a {font-size: 18px;}
}

#op {

    position: absolute;
    top: 18px;
    left: 18px;
    color: #2952a3;
    border-radius: 9%;
    border: 1px solid #2952a3;
    padding: .5%;
    background-color: white;

}
.b{
    width: 100%;
    height: 120px;
    background: indigo;
}

h1 {
    color: white;
    text-align: center;
    position: absolute;
    margin: 0;
    left: 100px;

}


p {
    font-size: 25px;
    /* text-align: center; */
    /* position: absolute; */
    color: #000000;
    font-family: 'Bree Serif', serif;


}



.deneme2 {
    text-align: center;
    height: 70px;
    position: relative;
    margin: 60px auto;
    bottom: -210px;
}




input[type=text], select {
   width: 70%;
   padding: 2%;
margin: 2%;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
height: 70%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

hr {
    box-sizing: content-box;
    height: 1px;
    clear: both;
    margin: 2%;
    margin-top: 13%;
}