<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method='POST' action='/'>
   <input name="w1" type="text"   title="Lütfen küçük harf ya da sayı giriniz,özel karakterler(+,#,$,* vb.)kullanmayınız. Örnek: türkiye ya da 3" required style="text-transform: lowercase; font-style: italic; "  placeholder="Kelime giriniz..."/>
    <input name="w2" type="text"   title="Lütfen küçük harf ya da sayı giriniz,özel karakterler(+,#,$,* vb.)kullanmayınız. Örnek: türkiye ya da 3" required style="text-transform: lowercase; font-style: italic; "  placeholder="Kelime giriniz..."/>

   <input name="w3" type="text" title="Lütfen küçük harf ya da sayı giriniz,özel karakterler(+,#,$,* vb.)kullanmayınız. Örnek: türkiye ya da 3" required style="text-transform: lowercase; font-style: italic; "  placeholder="Kelime giriniz..."/>
   <div class="deneme3"> <input value="Yakın Kelime Bul" type="SUBMIT"  style="height: 33px; background: sandybrown; color: white; border-radius: 30px; font-style: italic; font-weight: bold"> </div>
   <h2> sonuç : {{ w4 }}</h2>
</form>
</body>
</html>